* {
  font-family: 微軟正黑體;
}

body {
  display: flex;
  align-items: center;
  background-color: #f5f5f5;
  background-color: white;

  background-color: rgb(255, 205, 117);
    background: linear-gradient(to right, 
    rgb(255, 170, 170), 
    rgb(255, 223, 174), 
    #fdfda8, 
    #a4ffa4, 
    #9dceff, 
    #d2a4ff, 
    #ffa2e8);
    background-size: 1000% 1000%;
    animation: rainbow 15s linear infinite;
}

@keyframes rainbow {
  0% {
      background-position: 0 50%;
  }
  100% {
      background-position: 100% 50%;
  }
}

.container {

}

#signup-page, #signin-page {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  border-top: 15px solid #4f95bd88;
  box-shadow: 0 0px 70px rgba(0, 0, 0, 0.2);
  /*固定位置在中間*/
  position: absolute;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  transition: left 0.5s ease-in-out;
}

#signin-page {
  visibility: visible; 
  height: 400px;
}

#signup-page {
  visibility: hidden;
  height: 650px;
}

.system-name {
  position: absolute;
  margin: auto;
  text-align: center;
  left: 50%;
  top: 10%;  
  transform: translate(-50%, -50%);
}

.form-floating { 
  padding: 10px;
}

.form-control {
  width: 100%;
  max-width: 90%;
  border: none;
  border: solid 1px #ccc;
  border-radius: 5px;
}

#floatingID label, #floatingPassword label, #floatingPasswordCheck label, #floatingName label, 
#floatingeEail label, #floatingDepartment label, #floatingPhoneNumber label {
  color: #000000;

  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}


